.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .home{
    height: 40px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--primary);
    box-shadow: 0 0 15px var(-red);
    transition: box-shadow 0.35s ease;
    margin-top: 30px;
    &:hover{
      box-shadow: 0 0 15px var(--yellow);
    }
}
}
